In [1]:
import os
from tqdm import tqdm
import requests, json, pandas as pd, numpy as np
from requests.models import HTTPError
from datetime import datetime, timedelta

In [32]:
def connection(url):
    '''
    Try and Establish a Connection to given website
    Return: data in json format
    '''

    try:
        response = requests.get(url)
        
        if not response.status_code // 100 == 2:
            return("Error: Unexpected response {}".format(response))

        geodata = response.json()
        return(geodata)

    except requests.exceptions.RequestException as e:
        return("Error: {}".format(e))

### Creating Driver Request Folder

In [2]:
driver_table = pd.read_csv('data/driver_table.csv')

driver_table.head()

   driver_id  race_number given_name family_name         dob nationality
0      abate          NaN      Carlo       Abate  1932-07-10     Italian
1  abecassis          NaN     George   Abecassis  1913-03-21     British
2    acheson          NaN      Kenny     Acheson  1957-11-27     British
3      adams          NaN   Philippe       Adams  1969-11-19     Belgian
4       ader          NaN       Walt        Ader  1913-12-15    American

In [4]:
# Filter all Unique drivers into a list

udriver = driver_table['driver_id'].unique()

In [7]:
# Break Down entire list of Drivers into 8 groups

for _ in range(1, 9):
    if _ == 1:
        temp = udriver[0:_*106]
        pd.Series(temp).to_csv('Driver_Requests/Request_' + str(_) + '.csv')
    elif _ == 8:
        temp = udriver[743:853]
        pd.Series(temp).to_csv('Driver_Requests/Request_' + str(_) + '.csv')
    else:
        temp = (udriver[(_-1)*106+1:_*106])
        pd.Series(temp).to_csv('Driver_Requests/Request_' + str(_) + '.csv')

### Initalization

In [8]:
dir = os.listdir("Driver_Requests")

print(len(dir))

8

In [16]:
def get_table(table):

    if table == 'Driver_Table.csv':
        print("Driver")

    elif table == 'Team_Table.csv':
        print("Team")

    elif table == 'Circuit_Table.csv':
        print("Circuit")

In [ ]:

print("Fetching all Circuits")
# Create Data Table
column_names = ["circuit_id", "circuit_name", "location", "country"]
df_circuit = pd.DataFrame(columns=column_names)

# Fetch all information from API
data = connection('http://ergast.com/api/f1/circuits.json?limit=1000')
circuits = data['MRData']['CircuitTable']['Circuits']

# Iterate though all drivers
for _ in circuits:
    circuit_id = _['circuitId']
    circuit_name = _['circuitName']
    location = _['Location']['locality']
    country = _['Location']['country']
    
    df_circuit = df_circuit.append({'circuit_id': circuit_id, 'circuit_name': circuit_name, 'location': location, 'country': country}, ignore_index=True)

# Export
df_circuit.to_csv(r'Data/Circuit_Table.csv', encoding='utf-8', index=False)

# Delete Dataframe
del df_circuit

In [ ]:
'''
Driver Table
id(PK) | driver_id | given_name | family_name | dob | nationality

link: 'http://ergast.com/api/f1/drivers.json?limit=1000'
'''
print("Fetching all drivers")

# Create Data Table
column_names = ["driver_id", "race_number", "given_name", "family_name", "dob", "nationality"]
df_driver = pd.DataFrame(columns=column_names)

# Fetch all information from API
data = connection('http://ergast.com/api/f1/drivers.json?limit=1000')
drivers = data['MRData']['DriverTable']['Drivers']

# Iterate though all drivers
for _ in drivers:
    driver_id = _['driverId']
    given_name = _['givenName']
    family_name = _['familyName']
    dob = _['dateOfBirth']
    nationality = _['nationality']
    
    df_driver = df_driver.append({'driver_id': driver_id, 'given_name': given_name, 'family_name': family_name, 'dob': dob, 'nationality': nationality}, ignore_index=True)

# Export
df_driver.to_csv(r'data/driver_table.csv', encoding='utf-8', index=False)

# Delete Dataframe
del df_driver

In [ ]:
print("Fetching all teams")
# Create Data Table
column_names = ["team_id", "team_name", "nationality"]
df_teams = pd.DataFrame(columns=column_names)
# Fetch all information from API
data = connection('http://ergast.com/api/f1/constructors.json?limit=1000')
teams = data['MRData']['ConstructorTable']['Constructors']

# Iterate though all drivers
for _ in teams:
    team_id = _['constructorId']
    team_name = _['name']
    nationality = _['nationality']
    
    df_teams = df_teams.append({'team_id': team_id, 'team_name': team_name, 'nationality': nationality}, ignore_index=True)

# Export
df_teams.to_csv(r'data/team_table.csv', encoding='utf-8', index=False)

# Delete Dataframe
del df_teams

In [41]:

tables = {'Driver_Table.csv','Team_Table.csv','Circuit_Table.csv'}

for _ in tables:

    if exists(r'Data/{}'.format(_)):
        print(f" {_} Exist")

    else:
        get_table(_)

Circuit
Driver
Team

In [7]:
group = 1
df_driver = pd.read_csv(r'Driver_Requests/Request_{}.csv'.format(group))
drivers = df_driver['0'].tolist()

drivers

['abate',
 'abecassis',
 'acheson',
 'adams',
 'ader',
 'adolff',
 'agabashian',
 'ahrens',
 'aitken',
 'albers',
 'albon',
 'alboreto',
 'alesi',
 'alguersuari',
 'alliot',
 'allison',
 'alonso',
 'amati',
 'amick',
 'george_amick',
 'amon',
 'anderson',
 'andersson',
 'andretti',
 'mario_andretti',
 'andrews',
 'apicella',
 'armi',
 'arnold',
 'arnoux',
 'arundell',
 'ascari',
 'ashdown',
 'ashley',
 'ashmore',
 'aston',
 'attwood',
 'ayulo',
 'badoer',
 'baghetti',
 'bailey',
 'baldi',
 'ball',
 'balsa',
 'bandini',
 'banks',
 'barbazza',
 'barber',
 'john_barber',
 'barilla',
 'barrichello',
 'bartels',
 'barth',
 'bassi',
 'bauer',
 'baumgartner',
 'bayol',
 'beauman',
 'bechem',
 'behra',
 'bell',
 'bellof',
 'belmondo',
 'belso',
 'beltoise',
 'beretta',
 'berg',
 'berger',
 'georges_berger',
 'bernard',
 'bernoldi',
 'bertaggia',
 'bettenhausen',
 'beuttler',
 'bianchi',
 'jules_bianchi',
 'bianco',
 'binder',
 'biondetti',
 'bira',
 'birger',
 'bisch',
 'blanchard',
 'bleekemolen',
 'blignaut',
 'blokdyk',
 'blundell',
 'boesel',
 'boffa',
 'bondurant',
 'bonetto',
 'bonnier',
 'bonomi',
 'bordeu',
 'borgudd',
 'botha',
 'bottas',
 'boullion',
 'bourdais',
 'boutsen',
 'boyd',
 'brabham',
 'gary_brabham',
 'jack_brabham',
 'brack',
 'brambilla']

In [21]:
df_driver = pd.read_csv(r'Driver_Requests/Request_{}.csv'.format(1))
drivers = df_driver['0'].tolist()

drivers

['abate',
 'abecassis',
 'acheson',
 'adams',
 'ader',
 'adolff',
 'agabashian',
 'ahrens',
 'aitken',
 'albers',
 'albon',
 'alboreto',
 'alesi',
 'alguersuari',
 'alliot',
 'allison',
 'alonso',
 'amati',
 'amick',
 'george_amick',
 'amon',
 'anderson',
 'andersson',
 'andretti',
 'mario_andretti',
 'andrews',
 'apicella',
 'armi',
 'arnold',
 'arnoux',
 'arundell',
 'ascari',
 'ashdown',
 'ashley',
 'ashmore',
 'aston',
 'attwood',
 'ayulo',
 'badoer',
 'baghetti',
 'bailey',
 'baldi',
 'ball',
 'balsa',
 'bandini',
 'banks',
 'barbazza',
 'barber',
 'john_barber',
 'barilla',
 'barrichello',
 'bartels',
 'barth',
 'bassi',
 'bauer',
 'baumgartner',
 'bayol',
 'beauman',
 'bechem',
 'behra',
 'bell',
 'bellof',
 'belmondo',
 'belso',
 'beltoise',
 'beretta',
 'berg',
 'berger',
 'georges_berger',
 'bernard',
 'bernoldi',
 'bertaggia',
 'bettenhausen',
 'beuttler',
 'bianchi',
 'jules_bianchi',
 'bianco',
 'binder',
 'biondetti',
 'bira',
 'birger',
 'bisch',
 'blanchard',
 'bleekemolen',
 'blignaut',
 'blokdyk',
 'blundell',
 'boesel',
 'boffa',
 'bondurant',
 'bonetto',
 'bonnier',
 'bonomi',
 'bordeu',
 'borgudd',
 'botha',
 'bottas',
 'boullion',
 'bourdais',
 'boutsen',
 'boyd',
 'brabham',
 'gary_brabham',
 'jack_brabham',
 'brack',
 'brambilla']

#### Searching Pandas DF

In [8]:
df = pd.read_csv(r'Data/Driver_Table.csv')

df.head()

   driver_id  race_number given_name family_name         dob nationality
0      abate          NaN      Carlo       Abate  1932-07-10     Italian
1  abecassis          NaN     George   Abecassis  1913-03-21     British
2    acheson          NaN      Kenny     Acheson  1957-11-27     British
3      adams          NaN   Philippe       Adams  1969-11-19     Belgian
4       ader          NaN       Walt        Ader  1913-12-15    American

In [50]:
max = df.query(f'given_name == "Max"')

print(max)

max = df.query(f'given_name.str.contains("ax",case=False)', engine='python')

print(max)

          driver_id  race_number given_name family_name         dob  \
158         chilton          NaN        Max     Chilton  1991-04-21
212           terra          NaN        Max    de Terra  1918-10-06
400            jean          NaN        Max        Jean  1943-07-27
798  max_verstappen          NaN        Max  Verstappen  1997-09-30

    nationality
158     British
212       Swiss
400      French
798       Dutch
          driver_id  race_number given_name family_name         dob  \
158         chilton          NaN        Max     Chilton  1991-04-21
212           terra          NaN        Max    de Terra  1918-10-06
400            jean          NaN        Max        Jean  1943-07-27
798  max_verstappen          NaN        Max  Verstappen  1997-09-30

    nationality
158     British
212       Swiss
400      French
798       Dutch

In [40]:
def search_query(x,y):

    try:
        result = df.query(f'{x} == "{y}"')

        if result.empty:
            
            result = df.query(f'{x}.str.contains("{y}")', engine='python')
        
    except KeyError:
        result = "Error"

    return result

In [42]:
x = 'max'
max = search_query('driver_id',x)
max

,driver_id,race_number,given_name,family_name,dob,nationality
283,gimax,NaN,Carlo,Franchi,1938-01-01,Italian
798,max_verstappen,NaN,Max,Verstappen,1997-09-30,Dutch

### TRUE TIME

In [53]:
# Load driver Dataframe
df_drivers = pd.read_csv(r'Data/Driver_Table.csv')
drivers = df_drivers.loc[:, 'driver_id']

# Load 1st place Dataframe

df_first = pd.read_csv(r'Data/First_Table.csv')

hist_table = pd.read_csv(r'Data/Race_History_Table.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Data/First_Table.csv'

In [ ]:
hist_table['true_time'] = ""

hist_table['true_time'] = hist_table[['driver_id', 'season', 'round', 'time']].apply(lambda x: getRaceTime(*x), axis=1)

hist_table.drop(labels=['time'], axis=1, inplace=True)

In [ ]:
def convertHours(raw_time):
    ''' Format H:M:S:Micro '''
    dirty_time = datetime.strptime(raw_time,'%I:%M:%S.%f').time()
    clean_time = timedelta(hours=dirty_time.hour, minutes=dirty_time.minute, seconds=dirty_time.second, microseconds=dirty_time.microsecond)
    return clean_time
def convertMinute(raw_time):
    ''' Format M:S:Micro '''
    dirty_time = datetime.strptime(raw_time,'%M:%S.%f').time()
    clean_time = timedelta(minutes=dirty_time.minute, seconds=dirty_time.second, microseconds=dirty_time.microsecond)
    return clean_time
def convertSeconds(raw_time):
    ''' Format S:Micro '''
    dirty_time = datetime.strptime(raw_time, '%S.%f').time()
    clean_time = timedelta(seconds=dirty_time.second, microseconds=dirty_time.microsecond)
    return clean_time

 ### Replace Append with concat

In [8]:
df1 = pd.read_csv('Data/Current_Table.csv')

test = df1.copy()

test

          driver_id       team_id  points  position  wins
0    max_verstappen      red_bull   395.5         1    10
1          hamilton      mercedes   387.5         2     8
2            bottas      mercedes   226.0         3     1
3             perez      red_bull   190.0         4     1
4             sainz       ferrari   164.5         5     0
5            norris       mclaren   160.0         6     0
6           leclerc       ferrari   159.0         7     0
7         ricciardo       mclaren   115.0         8     1
8             gasly    alphatauri   110.0         9     0
9            alonso        alpine    81.0        10     0
10             ocon        alpine    74.0        11     1
11           vettel  aston_martin    43.0        12     0
12           stroll  aston_martin    34.0        13     0
13          tsunoda    alphatauri    32.0        14     0
14          russell      williams    16.0        15     0
15        raikkonen          alfa    10.0        16     0
16           latifi      williams     7.0        17     0
17       giovinazzi          alfa     3.0        18     0
18  mick_schumacher          haas     0.0        19     0
19           kubica          alfa     0.0        20     0
20          mazepin          haas     0.0        21     0

old way

In [15]:
test = test.append({'driver_id':'Test', 'team_id': 'Test', 'points': 0, 'position':22, 'wins':0}, ignore_index=True)

test

/tmp/ipykernel_262/1254209538.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  test = test.append({'driver_id':'Test', 'team_id': 'Test', 'points': 0, 'position':22, 'wins':0}, ignore_index=True)

          driver_id       team_id  points  position  wins
0    max_verstappen      red_bull   395.5         1    10
1          hamilton      mercedes   387.5         2     8
2            bottas      mercedes   226.0         3     1
3             perez      red_bull   190.0         4     1
4             sainz       ferrari   164.5         5     0
5            norris       mclaren   160.0         6     0
6           leclerc       ferrari   159.0         7     0
7         ricciardo       mclaren   115.0         8     1
8             gasly    alphatauri   110.0         9     0
9            alonso        alpine    81.0        10     0
10             ocon        alpine    74.0        11     1
11           vettel  aston_martin    43.0        12     0
12           stroll  aston_martin    34.0        13     0
13          tsunoda    alphatauri    32.0        14     0
14          russell      williams    16.0        15     0
15        raikkonen          alfa    10.0        16     0
16           latifi      williams     7.0        17     0
17       giovinazzi          alfa     3.0        18     0
18  mick_schumacher          haas     0.0        19     0
19           kubica          alfa     0.0        20     0
20          mazepin          haas     0.0        21     0
21              100          Test     0.0        22     0
22              100          Test     0.0        22     0
23             Test          Test     0.0        22     0

new way

In [25]:
temp_list = list()

temp_list.append({'driver_id':'Test', 'team_id': 'Marc', 'points': 0, 'position':22, 'wins':0})

  driver_id team_id  points  position  wins
0      Test    Marc       0        22     0